body  {

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f0f0f0;
    overflow-x: hidden;
    
}

table {

    text-align: center;
        max-width: 600px; 
        width: 100%;
        padding: 20px;
        background-color: #f0f0f0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        

}


#mitabla tbody td[contenteditable="true"].seleccionada {
    background-color: #ffcccc; /* Color de fondo para resaltar la celda seleccionada */
}